.Profile {
    height: 100%;
    .ProfilePageContainer {
        height: 100%;
        padding: 50px;
        .paper {
            height: 100%;
            .ChildContainer {
                height: 100%;
                padding: 50px;
                .left-grid-container {
                    height: 100%;
                    .left-paper {
                        height: 100%;
                        .avatar-container {
                            padding: 10px;
                            .profile-avatar {
                                height: 100%;
                                width: 100%;
                                
                            }
                        }
                    }
                }
                .right-grid-container {
                    height: 100%;
                    .right-paper {
                        height: 100%;
                        .right-container {
                            padding: 50px;
                            .form-ctl {
                                width: 100%;
                                margin-top: 20px;
                                .form-control-label {
                                    .email-text {
                                        width: 100%;
                                    }
                                    span {
                                        padding-right: 10px;
                                    }
                                }
                                .form-error{
                                    color: red;
                                }
                            }
                            .btn-container {
                                width: 100%;
                                margin-top: 20px;
                                margin-left: 10px;
                                text-align: right;
                            }

                        }
                    }
                }
            }
        }
    }
}