
.UserProductPage {
    .add-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .titleGroup {
        button {
            float: right;
            margin: 0px 20px 20px 20px;
        }
    }
}