.TopBar {
    padding: 10px;
    .link-topbar {
        display: flex;
        svg {
            width: 20px;
            height: 20px;
        }
    }
    .item-topbar {
        display: flex;
        svg {
            width: 20px;
            height: 20px;
        }        
    }
    .topbar-button {
        float: right;
    }
}